<div style="text-align:center">
  <table align="center">
    <tr>
      <th>Topic Name</th>
      <th>Start Offset</th>
      <th>Last Offset</th>
      <th>Total Logs</th>
      <th></th>
    </tr>

    <tr *ngFor="let name of queue_info">
      <td>{{ name.queue_name }}</td>
      <td>{{name.start_offset}}</td>
      <td>{{name.last_offset}}</td>
      <td>{{name.last_offset-name.start_offset}}</td>
      <!-- queue_name=name.queue_name -->
      <td><button (click)="getdetails(name)">Get Details</button></td>

    </tr>

  </table>
</div>

<p>&nbsp;</p>

<ng-container *ngIf="apilog.length" >
  <div style="color:blue;text-align:center;font-family:verdana;" >
    {{queue_name.toUpperCase()}} Details
  </div>
    <table align="center" >
        <thead>
            <tr>
                <!-- <th>Topic Name</th> -->
                <th>Message</th>
                <th>HTTP Rseponse Code</th>
                <th>Environment</th>
              </tr>
        </thead>
      <tbody>
          <tr *ngFor="let item of apilog">
              <!-- <td>{{ item.topic}}</td> -->
              <td>{{item.message}}</td>
              <td>{{item.http_response_code}}</td>
              <td>{{item._enviroment}}</td>
          
            </tr>
      </tbody>
    
      </table>

      <div style="text-align:center;">
        <button (click)="prev()">
         Prev
        </button>
          {{p}}
        <button (click)="next()">
            Next
        </button>
      </div>
</ng-container>