.column {
    float: left;
    width: 49%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .position {
    position: absolute;
    bottom: 100px;
    right: 80px;
    font-size: 150px;
    height:300px;
    width:300px;
  }
  

  div.vertical-line{
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
  }

  