<div style="text-align:center">
    <h2>Add Topic</h2>
    <div>
      <label>Topic Name:
        <input [(ngModel)]="topic.name" placeholder="Topic name">
      </label>
    </div>
    <div>
      <label>Topic Status:
          <select [(ngModel)]="topic.status">
              <option value="active">Active</option> 
              <option value="inactive">Inactive</option>
              
          </select>
      </label>
    </div>
    

    <button (click)="submit()">Submit</button>

    <div>
      {{responseMessage}}
      {{ errorMessage}}

    </div>
  </div>
  