<!--The content below is only a placeholder and can be replaced.-->
<div class="img-cont" style="text-align:right">
    <!-- <img src="http://res.cloudinary.com/dr6wssyg0/image/upload/v1516263193/RG_Dark_xhkcgf.svg" alt="logo" > -->

  </div>
<div style="text-align:center">

  <h1>
    {{ title }}
  </h1>    
</div>

<div class="sidenav">
    <img src="http://res.cloudinary.com/dr6wssyg0/image/upload/v1516263193/RG_Dark_xhkcgf.svg" alt="logo" >
  <a routerLink="/">Home</a>
  <a routerLink="/topics">Add Topics</a>
  <a routerLink="/updatetopic">Update Topic</a>
  <a routerLink="/getinfo">Get Info</a>
  <a routerLink="/search">Search</a>
</div>

<router-outlet></router-outlet>
