<div style="text-align:center">
<h2>Update Existing Topic</h2>
    <button (click)="fetchTopics()">Get Topics</button>
    <select [(ngModel)]="responseTopicName">
        <option *ngFor="let topic of getTopics" value="{{ topic }}">
          {{ topic }}
        </option>
    </select>
    <div>
      <button (click)="fetchStatus()">Get Current Status</button>
    </div>
    <div>
      {{ responseTopicStatus }}
    </div>
    
    <div>
      <button (click)="changeStatus()">Change Status</button>
    </div>
    <div>
      {{ changedStatus }}
    </div>

    
  </div>
  
