table {
    border-spacing: 5px solid black;
  }
 th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.dota{
  color: green
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
color:green}
option {
  color: black;
}


  