<div style="text-align:center">

  <label>
    <input [(ngModel)]="payload.clientid" placeholder="Client Id">
  </label>
  <label>
    <input [(ngModel)]="payload.url" placeholder="URL">
  </label>
  <label>
    <select [(ngModel)]="payload.http_method" >
      <option value="" disabled selected>Please Choose HTTP_Method...</option>
      <option value="GET">GET </option>
      <option value="POST">POST </option>
      <option value="PUT">PUT </option>
      <option value="DELETE">DELETE </option>

    </select>
  </label>
  <select [(ngModel)]="payload.topic" >
    <option value="" disabled selected>Please Choose Topic...</option>
    <option *ngFor="let topic of getTopics" value="{{ topic }}">
      {{ topic }}
    </option>
  </select>
  <button (click)=search()> Search</button>
</div>


<ng-container *ngIf="apilog.length">
  <div style="color:green;text-align:center;font-family:'Times New Roman';">
    Logs Found
  </div>
  <table align="center">
    <thead>
      <tr>
        <!-- <th>Topic Name</th> -->
        <th>Request ID</th>
        <th>HTTP Rseponse Code</th>
        <th>Client IP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of apilog">
        <!-- <td>{{ item.topic}}</td> -->
        <td>{{item._request_id}}</td>
        <td>{{item.http_response_code}}</td>
        <td>{{item._client_ip}}</td>

      </tr>
    </tbody>

  </table>

  <div style="text-align:center;">
    <button (click)="prev()">
      Prev
    </button>
    {{p}}
    <button (click)="next()">
      Next
    </button>
  </div>
</ng-container>